[Desktop Entry]
Type=Application
Name=far2m (Terminal)
GenericName=far2m
Comment=File and archive manager
TryExec=far2m
Exec=far2m --tty %F
Terminal=true
Categories=Utility;FileManager;System;FileTools;
MimeType=inode/directory;
Icon=far2m
StartupNotify=true
