[Desktop Entry]
Type=Application
Name=far2m
GenericName=far2m
Comment=File and archive manager
Exec=${CMAKE_INSTALL_PREFIX}/bin/far2m
TryExec=${CMAKE_INSTALL_PREFIX}/bin/far2m
Terminal=false
Categories=Utility;FileManager;
Icon=far2m
StartupNotify=true
