[Desktop Entry]
Type=Application
Name=far2m (Terminal)
GenericName=far2m
Comment=File and archive manager
Exec=far2m --tty
TryExec=far2m
Terminal=true
Categories=Utility;FileManager;System;FileTools;
Icon=far2m
StartupNotify=true
